* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    

   
}
body {
    overflow-x: hidden;
}
.background{
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    z-index: 0;
  }
.header-section {
    background-image: url("naveen-bg.png");
    overflow-y: hidden;
    image-rendering: high-quality;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: rgb(0, 0, 0);
}
.nav-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 8vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.197);
}
.left {
    width: 25%;
    color: white;
}
.right {
    display: flex;
    
    

}
ul {
    overflow: hidden;
}
.navbar ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0px;
}
.navbar ul li {

    list-style-type:none;
    text-decoration: none;
    margin-right: 39px;

}
.navbar ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: space-around;
    font-size: large;
    font-weight: 900;
    
}
.main-view {
    display: block;
    width: 30%;
    margin-left: 10%;
    margin-right: auto;
    margin-top: 19%;
    line-height: 60px;
}
.main-view h2 {
font-size: 30px
}
.main-view h1 {
    font-size: 3vw;
    font-weight: bolder;
}
/* CSS for toggle button */
.toggle-button {
    display: none;
    cursor: pointer;
    padding: 0px;
    
    color: aliceblue;
}
.sidemenu {
    display: none;
}



/* media query */
@media only screen and (max-width: 768px) {
    .header-section {
        background-image: url("naveen-bg.png");
        box-sizing: border-box;
        overflow-x: hidden ;
        image-rendering: high-quality;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        color: rgb(0, 0, 0);
    }
    .nav-section {
        display: flex;
        justify-content: space-between;

    }
    .main-view {
        color: white;
        display: block;
        width: 100%;
        margin-left: 6%;
        
        margin-top: 79%;
        line-height: 33px;
    }
    .main-view h2 {
    font-size: 22px;
    font-weight: lighter;
    }
    .main-view h1 {
        font-size: 26px;
        font-weight: bolder;
    }
    .navbar ul{
        display: none;
    }
    .toggle-button {
        display: block;
        font-size: 35px;
        color: aliceblue;
        right: 0;
    }
    .toggle-button i {
        color: white;
        
    }
    .sidemenu {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 40px;
        border-radius: 10px;
        margin-top: 539px;
        line-height: 69px;
        background-color: rgba(0, 0, 0, 0.47);
        width: 272px;
        height: 51vh;
        overflow: hidden;
        text-align: center;
    }

    .sidemenu ul li a{
        text-decoration: none;
        list-style-type: none;
        color: white;
        line-height: 40px;
        font-weight: bold;
        cursor: pointer;
        margin-top: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .sidemenu ul li:hover{
        background-color: rgba(0, 0, 0, 0.714);
        border-radius: 11px;
        transition: 0.9s;
    }

    

  }


  #hamburger-menu,
#mobile-menu {
    display: none;
}

@media only screen and (max-width: 768px) {
    #mobile-menu {
        background-color:#7924b6;
        width: 60%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: transform 0.3s ease;
        transform: translateX(-100%);
        z-index: 1000;
    }

    .mobile-nav-items > ul {
        padding: 0px;
    }

    .mobile-nav-items > ul > li {
        text-align: center;
        position: relative;
        list-style: none;
        margin: 10px;
        padding: 10px 20px;
        cursor: pointer;
    }

    .mobile-nav-items > ul > li > a {
        color: white;
        text-decoration: none;
    }

    .mobile-nav-items > ul > li::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.17rem;
        background-color: white;
        left: 0;
        bottom: 0;
        transform-origin: 0% 100%;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }

    .mobile-nav-items > ul > li:hover::after {
        transform: scaleX(1);
    }

    .mobile-nav-button {
        background-color: #141214;
        border-radius: 50px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        cursor: pointer;
    }

    .mobile-nav-button .anim-layer {
        position: absolute;
        top: 0;
        left: 50%;
        width: 0;
        height: 100%;
        background-color: white;
        transition: width 0.3s ease, left 0.3s ease;
    }

    .mobile-nav-button:hover .anim-layer {
        width: 100%;
        left: 0;
    }

    .mobile-nav-button:hover a {
        color: #141214;
    }

    .mobile-nav-button a {
        display: block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        position: relative;
        z-index: 1;
    }

    .nav-items > ul,
    .nav-button {
        display: none;
    }

    #hamburger-cross {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 40px;
        position: absolute;
        top: 20px;
        right: 26px;
    }

    #hamburger-menu {
        display: block;
        color: white;
        cursor: pointer;
        font-size: 32px;
        margin-right: 15px;
    }
}
/* <!-- SECTION -----2-ABOUT --> */
.about-page {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 120px;
}

.left-image-section {
    width: 30%;
    margin-left: 15%;

    
}
.image img {
    border-radius: 10px;
    object-fit: cover;
    width: 250px;
    height: 450px;
    
}
.right-content-section {
    padding-left: 50px;
    padding-right: 50px;
    line-height: 30px;
    margin-right: 170px;
    margin-left: 100px;
    
}
.text-content h1{
    font-size: 70px;
}
.skill-section .heading {
   display: flex;
   justify-content: space-between;
   
}
.skill-section tr td{
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .about-page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: auto;
        overflow-x: hidden;
    }
    .left-image-section {
        width: 100%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        
    }
    .image img {
        border-radius: 10px;
        object-fit: cover;
        text-align: center;

        

        
    }
    .text-content h1{
        font-size: 40px;
        text-align: center;
        margin-top: 15px;
    }
    .right-content-section {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;
    }

}
/* SECTION MY SERVICES */
#service {
    padding: 10px 0px;
}

.myservices {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: hidden;
}
.head-title {
    
    padding-top: 10px;
}
.head-title h1{
    font-size: 50px;
    text-align: center;

}
.card-section {
    margin-top: 8%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.card {
    width: 380px;
    background-color: rgba(233, 233, 233, 0.144);
    padding: 28px 28px 28px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 30px;
    border-radius: 29px;
    transition: 1s;
}
.card:hover {
    background: #7924b6;
    transform: translateY(-10px);
    transition: 1s;
}
.card .icon {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card .service-heading {
    margin-top: 10px;
    margin-bottom: 10px;
}
.card .service-heading h4{
    font-size: 30px;
}
.paragraph {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .head-title {
        text-align: center;
    }
    .myservices {
        width: 100vw;
        height: auto;
        padding-bottom: 10%;

    }
    .card-section {
        margin-top: 8%;
        margin-bottom: 1%;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    
    }
    .card {
        margin-bottom: 10%;
        overflow-x: hidden;
    }

}

/* WORK SECTION */

.work-section {
    width: 100vw;
    height: 100vh;
    background-color: #000000;
    color: white;
    padding-top: 3%;

}
.work-heading h1{
    text-align: center;
    font-size: 44px;
}
.work-cards {
    margin-top: 40px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
}
.work-card {
    width: 350px;   
    position: relative;


}
.work-card img {
    width: 350px;
    border-radius: 19px;
    transition: transform 0.5s;
}
/* .work-card:hover img{
    transform: scale(1.1);

} */
.work-card:hover .layer{
    height: 100%;
}
.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.6), #7924b6);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;            
    transition: height 0.5s;
}

@media only screen and (max-width: 768px) {
    .work-section {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
        padding-top: 0%;
    }
    .work-cards {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .work-card {
        margin-bottom: 30px;
    }

}    

/* CONTACT PAGE */
.contact-page {
    width: 100vw;
    min-height: 600px;
    overflow-x: hidden;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    color: white;
}
.contact-page .content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
}
.contact-title {
    font-size: 40px;
    font-weight: bold;
}
.mail p {
    color: #fdfdfd;
}
.mail p i {
    color: #7924b6;
    font-size: 25px;
}
.phone p {
    color: #ffffff;
}
.phone p i{
    color: #7924b6;
    font-size: 25px;
}
.cv-btn button{
    margin-top: 25px;
    padding:14px 40px;
    color: white;
    background-color: #000000;
    border-color: #7924b6;
    border-radius: 8px;
    cursor: pointer;
}
.cv-btn button a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.cv-btn:hover button{
    background-color: #7924b6;
    color: #ffffff;
}
.social-icons {
    display: flex;
    width: 170px;
    justify-content: space-between;

}
.social-icons a i{
    font-size: 40px;
}
.contact-form form input, textarea {
    width: 100%;
    border: 0;
    outline: none;
    padding: 14px;
    color: white;
    font-size: 16px;
    margin: 10px 0px;
    border-radius: 7px;
    background: #262626;
}
.sub-btn {
    margin-top: 15px;
    
    padding:14px 58px;
    color: white;
    background-color: #000000;
    border-color: #7924b6;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    text-align: center;
}
.sub-btn:hover {
    background-color: #7924b6;
    color: #ffffff;
}

@media only screen and (max-width: 768px) {

    .card {
        width: 320px;
    }
    .contact-page {
        width: 100vw;
        
        overflow-x: hidden;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #000000;
        color: white;
        

    }
    .content {
        
    }
    .cv-btn {
        text-align: center;
    }
    .contact-page content {
        text-align: center;
    }
    .contact-form {
        margin-top: 10%;
        width: 60%;
        margin-bottom: 10%;
        text-align: center;

    }
    .sub-btn {
        text-align: center;
    }

}

/* Footer */
.copyright {
    overflow-x: hidden;
    
    width: 100vw;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
   color: white;
}
